* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Regular/PlayfairDisplay-Regular.ttf");
  src-url: "../fonts/PlayfairDisplay-Regular/PlayfairDisplay-Regular.woff" format("woff"), url(": ../fonts/PlayfairDisplay-Regular/PlayfairDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-Light.ttf");
  src-url: "../fonts/Ubuntu/Ubuntu-Light.woff2" format("woff2"), url(": ../fonts/Ubuntu/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
}
header {
  padding-top: 68px;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.header__menu a {
  color: #626262;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
}

.header__menu a:first-child {
  margin-right: 120px;
}

.header__menu a:nth-child(2) {
  margin-right: 103px;
}

.header__menu a:nth-child(3) {
  margin-right: 95px;
}

.header-img {
  margin-top: 75px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display";
}

.header-container {
  width: 1061px;
  margin: 0 auto;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.section-title {
  color: #b4ad9e;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.minimo-text {
  color: #626262;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
#photodiary {
  padding-top: 99px;
}

.photodiary-weekend {
  margin-top: 24px;
}

.photodiary-weekend__title {
  color: #626262;
  font-size: 30px;
  font-weight: 400;
}

.photodiary-weekend__descr {
  margin-top: 30px;
}
.articles {
  padding-bottom: 130px;
}

.articles_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.articles-2 {
  padding: 103px 0;
}

.articles-2_btn {
  margin: 0 auto;
  margin-top: 165px;
  padding: 22px 34px;
  text-decoration: none;
  color: #626262;
  font-family: "Playfair Display";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid #626262;
}

.articles .post {
  -webkit-flex-basis: 45%;
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
  margin-top: 130px;
}

.articles .post_signature {
  margin-top: 30px;
  color: #b4ad9e;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.articles .post_text {
  margin-top: 34px;
  color: #626262;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.articles .post-2 {
  padding-top: 0;
}

.title {
  color: #626262;
  font-family: "Playfair Display";
  font-size: 30px;
  font-weight: 400;
}

.title_dark {
  color: #333333;
  letter-spacing: 0.75px;
}

.newsletter {
  padding: 73px 0;
  background-color: #f0f0f0;
}

.newsletter-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.newsletter-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  margin-top: 80px;
}

.newsletter-form_input {
  width: 100%;
  max-width: 400px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  color: #626262;
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.newsletter-form_input::-webkit-input-placeholder {
  color: #626262;
}

.newsletter-form_input::-moz-placeholder {
  color: #626262;
}

.newsletter-form_input:-ms-input-placeholder {
  color: #626262;
}

.newsletter-form_input::-ms-input-placeholder {
  color: #626262;
}

.newsletter-form_input::placeholder {
  color: #626262;
}

.newsletter-form_btn {
  position: relative;
  left: 7px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.newsletter-form::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  height: 3px;
  width: 400px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 100px;
  border-radius: 100px;
}