@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Light.ttf");
  font-weight: 300;
}
header {
  padding-top: 68px;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.header__menu a {
  color: #626262;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
}

.header__menu a:first-child {
  margin-right: 120px;
}

.header__menu a:nth-child(2) {
  margin-right: 103px;
}

.header__menu a:nth-child(3) {
  margin-right: 95px;
}

.header-img {
  margin-top: 75px;
}

.header__descr {
  margin-left: 81px;
  margin-top: 95px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display";
}

.header-container {
  width: 1061px;
  margin: 0 auto;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.section-descr {
  color: #b4ad9e;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.minimo-text {
  color: #626262;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.title {
  color: #626262;
  font-family: "Playfair Display";
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}
#photodiary {
  padding-top: 5px;
}

.photodiary-weekend {
  margin-top: 24px;
  margin-bottom: 50px;
}

.photodiary-weekend__title {
  color: #626262;
  font-size: 30px;
  font-weight: 400;
}

.photodiary-weekend__descr {
  margin-top: 30px;
}
.articles {
  padding: 130px 0 120px;
}

.articles_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.articles .post {
  -webkit-flex-basis: 45%;
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
  padding-top: 130px;
}

.articles .post_signature {
  margin-top: 30px;
  color: #b4ad9e;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.articles .post_title {
  margin-top: 24px;
}

.articles .post_text {
  margin-top: 34px;
  color: #626262;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
#subscription {
  padding: 74px 0;
  background: #f0f0f0;
}

.subscription {
  text-align: center;
}

.subscription__title {
  margin-bottom: 75px;
}

.subscription__input {
  padding: 10px 0;
  border: none;
  background: transparent;
  width: 370px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.subscription__input:focus {
  outline: none;
}

.subscription__underline {
  width: 380px;
  height: 1px;
  background: #000;
  display: block;
  margin: 0 auto;
  position: relative;
}

.subscription__underline::before {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  background: #787878;
  left: 0;
  top: -1px;
}

.subscription__underline::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  background: #787878;
  left: 0;
  bottom: -1px;
}